@import url('https://fonts.googleapis.com/css?family=Anton|Damion|Economica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nixie+One&effect=neon');

.App {
  text-align: center;
  background-image: url("../src/bulletin-pic.jpeg");  /* App.js */
  background-size: cover;
  font-family: 'Anton', sans-serif;
  padding-bottom: 100px;
}

.brand {
  font-family: 'Damion', cursive;         /* App.js */
  font-size: 150px;
  color: black;
  text-shadow: white -1px 1px 2px;
  
}

.title {
  font-size: 50px;        /* NoteCard.js */
  text-align: center;
}

.note-form {
  font-family: 'Anton', sans-serif;
  color: black;
  margin-left: 35%;
  margin-bottom: 10px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
}

.field-create-note {
 
  /* margin-bottom: 15px; */
  padding: 20px 20px 20px 20px;
  

}

.button {
  border-radius: 4px;
  width: 200px;
  height: 45px;
  margin-bottom: 150px;
}

.memo {
  width: 500px;                 
  height: 200px;
  margin-bottom: 50px;
}

.resources-menu {
  font-size: 24px;
  color: black;
  background-color: white;        /* Resources */
  border-radius: 5px;
  margin: 10px;
}

.box {
  background-color: yellow;                 /* NoteCard.js */
  font-family: 'Economica', sans-serif;
}
.coffee-map {
  height: 200px;
  width: 200px;
  font-family: Nixie One;
  font-size: 40px;                    /* Coffee.js */
  background: #111;
  text-align: center;
  margin-left: 20px;
}



